<h3>
   Dashboard
</h3>

<!-- START widgets box
<div class="row">
   <div class="col-lg-3 col-sm-6">

      <div class="panel bg-info-light pt b0 widget">
         <div class="ph">
            <em class="icon-cloud-upload fa-lg pull-right"></em>
            <div class="h2 mt0">1700</div>
            <div class="text-uppercase">Uploads</div>
         </div>
         <div sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="{{colorByName('info')}}" data-chart-range-min="0" data-fill-color="{{colorByName('info')}}" data-spot-color="{{colorByName('info')}}" data-min-spot-color="{{colorByName('info')}}"
         data-max-spot-color="{{colorByName('info')}}" data-highlight-spot-color="{{colorByName('info')}}" data-highlight-line-color="{{colorByName('info')}}" values="2,5,3,7,4,5" style="margin-bottom: -2px" data-resize="true"></div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">

      <div class="panel widget bg-purple-light pt b0 widget">
         <div class="ph">
            <em class="icon-globe fa-lg pull-right"></em>
            <div class="h2 mt0">700
               <span class="text-sm text-white">GB</span>
            </div>
            <div class="text-uppercase">Quota</div>
         </div>
         <div sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="{{colorByName('purple')}}" data-chart-range-min="0" data-fill-color="{{colorByName('purple')}}" data-spot-color="{{colorByName('purple')}}" data-min-spot-color="{{colorByName('purple')}}"
         data-max-spot-color="{{colorByName('purple')}}" data-highlight-spot-color="{{colorByName('purple')}}" data-highlight-line-color="{{colorByName('purple')}}" values="1,4,5,4,8,7,10" style="margin-bottom: -2px" data-resize="true"></div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12">

      <div class="panel widget bg-info-light pt b0 widget">
         <div class="ph">
            <em class="icon-bubbles fa-lg pull-right"></em>
            <div class="h2 mt0">500</div>
            <div class="text-uppercase">Reviews</div>
         </div>
         <div sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="{{colorByName('info')}}" data-chart-range-min="0" data-fill-color="{{colorByName('info')}}" data-spot-color="{{colorByName('info')}}" data-min-spot-color="{{colorByName('info')}}"
         data-max-spot-color="{{colorByName('info')}}" data-highlight-spot-color="{{colorByName('info')}}" data-highlight-line-color="{{colorByName('info')}}" values="4,5,3,10,7,15" style="margin-bottom: -2px" data-resize="true"></div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12">

      <div class="panel widget bg-purple-light pt b0 widget">
         <div class="ph">
            <em class="icon-pencil fa-lg pull-right"></em>
            <div class="h2 mt0">35</div>
            <div class="text-uppercase">Annotations</div>
         </div>
         <div sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="{{colorByName('purple')}}" data-chart-range-min="0" data-fill-color="{{colorByName('purple')}}" data-spot-color="{{colorByName('purple')}}" data-min-spot-color="{{colorByName('purple')}}"
         data-max-spot-color="{{colorByName('purple')}}" data-highlight-spot-color="{{colorByName('purple')}}" data-highlight-line-color="{{colorByName('purple')}}" values="1,3,4,5,7,8" style="margin-bottom: -2px" data-resize="true"></div>
      </div>
   </div>
</div>
<!-- END widgets box-->
<!-- START chart-->
<div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">Most Popular Day</div>
            <div class="panel-body">
               <div morris-bar="" morris-data="dayData" morris-options="dayOptions"></div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">Most popular activites</div>
            <div class="panel-body">
               <div morris-donut="" morris-data="activitiesData" morris-options="activitiesOptions"></div>
            </div>
         </div>
         
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">CheckIn / Attending</div>
            <div class="panel-body">
               <div morris-bar="" morris-data="eventsData" morris-options="eventsOptions"></div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">Most Active Members</div>
            <div class="panel-body">
               <div morris-bar="" morris-data="membersData" morris-options="membersOptions"></div>
            </div>
         </div>
      </div>
   </div>
