<h3>Members   
	<a class="pull-right mb-sm btn btn-primary" data-ng-href="#!/members/create">New Member</a>
   <!-- <div ng-controller="FileUploadController">
      <input filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-success" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control" />
      <div ng-repeat="item in uploader.queue">
         <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-info btn-xs">
         <span class="icon-cloud-upload mr"></span>Upload</button>
      </div>
   </div>    -->
</h3>
<div ng-controller="MembersController" class="container-fluid">
	<div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               Members               
            </div>
            <div class="panel-body">            
               <table id="membersTable" class="table table-striped table-hover">
                  <thead>
                     <tr>
                        <th class="sort-alpha">Name</th>
                        <th class="sort-alpha">Action Label</th>
                        <th class="sort-numeric">Points</th>
                        <th class="sort-alpha">Description</th>
                        <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>                  		
                  </tbody>
                  <tfoot>
                     <tr>
                        <th>
                           <input type="text" name="filter_name" placeholder="Filter Name" class="form-control input-sm datatable_input_col_search" />
                        </th>
                        <th>
                           <input type="text" name="filter_action_label" placeholder="Filter Action Label" class="form-control input-sm datatable_input_col_search" />
                        </th>                        
                        <th>
                           <input type="text" name="filter_description" placeholder="Filter Description" class="form-control input-sm datatable_input_col_search" />
                        </th> 
                        <th>
                           <input type="text" name="filter_points" placeholder="Filter Points" class="form-control input-sm datatable_input_col_search" />
                        </th>  
                        <th></th>                      
                     </tr>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </div>
<div>