<h3>
	{{member.firstName}}
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/members/{{member._id}}/edit">
			<i class="fa fa-edit"> Edit</i>
		</a>
		<a class="btn btn-danger" data-ng-click="remove();">
			<i class="fa fa-trash"> Delete</i>
		</a>
	</div>
</h3>

<section data-ng-init="findOne('disabled')">
	<div class="panel panel-default ng-scope">
		<div class="panel-body">
	  		<form name="memberForm" class="form-horizontal" novalidate>
		        
		        <div ui-view="form"></div>

		  </form>
		</div>
	</div>
</section>