<legend>Event Details</legend>
<div ng-show="error" class="alert alert-danger alert-dismissable" role="alert">
	<button ng-show="closeable" type="button" class="close" ng-click="error = false">
	    <span aria-hidden="true">×</span>
	    <span class="sr-only">Close</span>
	</button>
	<span>{{ error }}</span>
</div>

<fieldset>
	<div class="form-group" ng-class="{ 'has-error': eventForm.title.$dirty && eventForm.title.$invalid }">
		<label class="col-sm-2 control-label">Title</label>
	   	<div class="col-sm-10">
	      	<input name="title" type="text" data-ng-model="event.title" id="title" class="form-control" placeholder="Title" ng-required="true" ng-disabled="viewPage">
	   	</div>
	</div>
</fieldset>

<fieldset ng-show="!isCreate">
	<div class="form-group">		
		
		<label class="col-sm-2 control-label">
			<img height="60" width="60" src="{{ event.image }}" />
			<span>Cover Image</span>
		</label>
		<div class="col-sm-10">
			<input style="display:none;" id="filestyle-1" filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control" />
			<div class="bootstrap-filestyle input-group">
				<input type="text" class="form-control " disabled="">	
				<span class="group-span-filestyle input-group-btn" tabindex="0">
					<label for="filestyle-1" class="btn btn-default ">
						<span class="glyphicon glyphicon-folder-open"></span> 
						Single
					</label>					
				</span>
			</div>
			<div class="input-group">
				<div ng-repeat="item in uploader.queue">				
					<div class="bootstrap-filestyle input-group">
						{{ item.file.name }}
					</div>					
			        <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-info">
			        <span class="icon-cloud-upload mr"></span>Upload
			        <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span></button>
			    </div>
			</div>
		</div>
	</div>	
</fieldset>

<fieldset>
	<div class="form-group" ng-class="{ 'has-error': eventForm.description.$dirty && eventForm.description.$invalid }">
		<label class="col-sm-2 control-label">Description</label>
	   	<div class="col-sm-10">
	      	<textarea name="description" data-ng-model="event.description" id="content" class="form-control" cols="30" rows="10" placeholder="Description" ng-required="true" ng-disabled="viewPage"></textarea>
	   	</div>
	</div>
</fieldset>

<fieldset>
	<div class="form-group">
		<label class="col-sm-2 control-label">Location</label>
	   	<div class="col-sm-10">
	      	<input name="location" type="text" data-ng-model="event.location" id="location" class="form-control" placeholder="Location" ng-disabled="viewPage" required>
	   	</div>
	</div>
</fieldset>

<fieldset>
	<div class="form-group" ng-class="{ 'has-error': eventForm.startDate.$dirty && eventForm.startDate.$invalid }">
	   <label class="col-sm-2 control-label">Start Date</label>
	   <div class="col-sm-10">
	      <div class="row">
	         <div class="col-md-2">
	            <input type="text" name="startDate" ng-model="event.startDate" masked data-inputmask="'mask': '99/99/9999 99:99'" placeholder="12/04/2015 21:00" class="form-control" ng-required="true" ng-disabled="viewPage">
	         </div>
	         <div class="col-md-1">
	            <label class="control-label">End Date</label>
	         </div>
	         <div class="col-md-2">
	            <input type="text" name="endDate" ng-model="event.endDate" ng-required="true" masked data-inputmask="'mask': '99/99/9999 99:99'" class="form-control" placeholder="12/04/2015 22:00" ng-disabled="viewPage">
	         </div>
	      </div>
	   </div>
	</div>
</fieldset>

<fieldset>
	<div class="form-group">
		<label class="col-sm-2 control-label">Repeat</label>
		<div class="col-sm-10">
			<div class="radio">
	     	<label>
	            <input id="optionsRadios1" ng-model="event.repeat" type="radio" name="repeat" value="no" checked="true" ng-disabled="viewPage">
	            No
	        </label>
	  	</div>
	  	<div class="radio">
	        <label>
	            <input id="optionsRadios1"  ng-model="event.repeat"type="radio" name="repeat" value="daily" ng-disabled="viewPage">
	            Daily
	        </label>
	  	</div>
	  	<div class="radio">
	    	<label>
	        	<input id="optionsRadios2" ng-model="event.repeat" type="radio" name="repeat" value="weekly" ng-disabled="viewPage">
	        	Weekly
	        </label>
	  	</div>
		</div>
	</div>
</fieldset>

<fieldset>
	<div class="form-group" ng-class="{ 'has-error': eventForm.points.$dirty && eventForm.points.$invalid }">
	   <label class="col-sm-2 control-label">Points</label>
	   <div class="col-sm-10">
	      <div class="row">
	         <div class="col-md-2">
	            <input type="text" name="points" ng-model="event.points" ng-required="true" placeholder="0" class="form-control" ng-disabled="viewPage">
	         </div>
	      </div>
	   </div>
</div>
</fieldset>

<fieldset>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
 		<div class="checkbox c-checkbox">
        	<label>
       			<input type="checkbox" checked="true" ng-model="event.active" name="active" ng-disabled="viewPage">
           		<span class="fa fa-check"></span>Active
           	</label>
     	</div>
		</div>
	</div>
</fieldset>