<h3>
	{{event.title}}
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
			<i class="fa fa-edit"> Edit</i>
		</a>
		<a class="btn btn-danger" data-ng-click="remove();">
			<i class="fa fa-trash"> Delete</i>
		</a>
	</div>
</h3>

<section data-ng-init="findOne('disabled')">
	<div class="panel panel-default ng-scope">
		<div class="panel-body">
	  		<form name="eventForm" class="form-horizontal" novalidate>
		        
		        <div ui-view="form"></div>

		        <fieldset>
					<div class="form-group">
					   <label class="col-sm-2 control-label">QR</label>
					   <div class="col-sm-10">
					      <div class="row">
					         <div class="col-md-12">
		            			<qrcode 
									version="{{ qrOptions.version }}" 
									error-correction-level="{{ qrOptions.errorCorrectionLevel }}" 
									size="{{ qrOptions.size }}" 
									data="{{ qrOptions.data }}">
								</qrcode>
					         </div>
					         <a class="btn btn-primary" style="margin-left: 15px; margin-top: 10px;" data-ng-click="printQR();">Print</a>
					      </div>
					   </div>
					</div>
				</fieldset>

		  </form>
		</div>
	</div>
</section>